@model AccommodateMVC.ViewModels.ViewBusinessViewModel

    <h2>@Model.Business.Name</h2>
    <p>@Model.Business.Address<br />@Model.Business.Type</p>
    
<ul>
    @foreach(var feature in Model.Features)
    {
        <li>
            @feature.AFeature.Name
        </li>
    }
</ul>

<a asp-controller="Business" asp-action="AddFeature" asp-route-id="@Model.Business.ID">Add Accessiblity Feature</a>
